@using RiotServices
@model ParticipantResponse

@{
    var champions = (Dictionary<int, ChampionResponse>) ViewBag.Champions;
}

<tr class="DataRow">
    <td>@Html.DisplayFor(m => champions.First(x => x.Key == m.ChampionId).Value.Name)</td>
    <td>@Html.DisplayFor(m => m.Statistics.ChampLevel)</td>
    <td>@Html.DisplayFor(m => m.Statistics.Kills)</td>
    <td>@Html.DisplayFor(m => m.Statistics.Deaths)</td>
    <td>@Html.DisplayFor(m => m.Statistics.Assists)</td>
    <td>@Html.DisplayFor(m => m.Statistics.MinionsKilled)</td>
    <td>@Html.DisplayFor(m => m.Statistics.TotalDamageDealt)</td>
    <td>@Html.DisplayFor(m => m.Statistics.TotalDamageDealtToChampions)</td>
    <td>@Html.DisplayFor(m => m.Statistics.GoldEarned)</td>
</tr>