@model LeagueApi.Models.PlayerList

@{
    string team = "Team " + (ViewBag.Index + 1);
    var winner = Model.Players.First().Statistics.Winner;
}
<div class="seperator">
    @Html.Label(team)
    @Html.Label(winner ? "(Won)" : "(Lost)")
    <table class="fullWidth DataTable">
        <tbody>
            <tr>
                <td>Name</td>
                <td>Level</td>
                <td>Kills</td>
                <td>Deaths</td>
                <td>Assists</td>
                <td>CS</td>
                <td>Damage</td>
                <td>Damage To Champions</td>
                <td>Gold Earned</td>
            </tr>
        @Html.DisplayFor(m => m.Players)

            <tr class="DataRow">
                <td>Totals</td>
                <td></td>
                <td>@Html.DisplayFor(m => m.Totals.Statistics.Kills)</td>
                <td>@Html.DisplayFor(m => m.Totals.Statistics.Deaths)</td>
                <td>@Html.DisplayFor(m => m.Totals.Statistics.Assists)</td>
                <td>@Html.DisplayFor(m => m.Totals.Statistics.MinionsKilled)</td>
                <td>@Html.DisplayFor(m => m.Totals.Statistics.TotalDamageDealt)</td>
                <td>@Html.DisplayFor(m => m.Totals.Statistics.TotalDamageDealtToChampions)</td>
                <td>@Html.DisplayFor(m => m.Totals.Statistics.GoldEarned)</td>

            </tr>
        </tbody>
    </table>
</div>