@{
    ViewBag.Title = "Home Page";
    var matchCreation = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc).AddMilliseconds(Model.CurrentMatchData.MatchCreation);
}
@model LeagueApi.Models.MatchesViewModel
<style type="text/css">
    .seperator { padding-top: 10px; padding-bottom: 10px; }
    .fullWidth { width: 100%;}
</style>

<div class="seperator"></div>

<div class="row">
    <div class="col-md-10 seperator">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.DropDownListFor(m => m.CurrentMatchId, Model.MatchItems, new { onchange = "this.form.submit();" })
        }

        <div class="seperator">
            <div>
                @Html.Label("Match Started")
                @Html.DisplayFor(m => matchCreation)
            </div>
            <div>
                @Html.Label("Match Lasted")
                @Html.DisplayFor(m => m.CurrentMatchData.MatchDuration)
            </div>
        </div>
        <div class="seperator">
            
        </div>

    @Html.DisplayFor(m => m.Teams, Model.ChampionData)
    </div>
</div>