@{
    if (!String.IsNullOrEmpty(ViewBag.Error))
    {
        Response.Write(ViewBag.Error);
        Response.End();
    }

    ViewBag.Title = "League API";
    var matchCreation = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc).AddMilliseconds(Model.CurrentMatchData.MatchCreation);
    var matchLengthMinutes = Math.Floor((decimal) Model.CurrentMatchData.MatchDuration/60);
    var matchLengthSeconds = ((int)((((double)Model.CurrentMatchData.MatchDuration%60)/100)*60)).ToString("D2");
    var matchLength = String.Format("{0}:{1}", matchLengthMinutes, matchLengthSeconds);
}
@model LeagueApi.Models.MatchesViewModel

<div class="seperator"></div>

<div class="row">
    <div class="col-md-10">
        <table class="fullWidth">
            <thead>
            <tr>
                <td>@Html.Label("Select A Game")</td>
                <td>@Html.Label("Match Started")</td>
                <td>@Html.Label("Match Lasted")</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        @Html.DropDownListFor(m => m.CurrentMatchId, Model.MatchItems, new {onchange = "this.form.submit();"})
                    }
                </td>
                <td>@matchCreation</td>
                <td>@matchLength</td>
            </tr>
            </tbody>
        </table>
        @Html.DisplayFor(m => m.Teams, Model.ChampionData)
    </div>
</div>